# things ./autogen.sh will create
/Makefile.utilgcry.def
/aclocal.m4
/autom4te.cache
/configure
Makefile
# we want to enable building in a subdirectory, but we don't want to exclude
# /build-aux so explicitly don't ignore it.
/build*/
!/build-aux/

# things very common editors create that we never want
*~
.*.sw?
*.patch

# built objects across the whole tree
Makefile.in
*.a
*.am
*.exec
*.image
*.img
*.info
*.lst
*.marker
*.mod
*.module
*.o
*.pf2
*.yy.[ch]
.deps/
.deps-core/
.deps-util/
.dirstamp

# next are things you get if you do ./configure in the topdir (for e.g.
# "make dist" invocation.
/config-util.h
/config.h
/include/grub/cpu
/include/grub/machine
/po/POTFILES
/stamp-h
/stamp-h1
config.log
config.status

# stuff "make dist" creates
ChangeLog
grub-*.tar
grub-*.tar.*

# stuff "make" creates
/[[:digit:]][[:digit:]]_?*
/ascii.h
/build-grub-gen-asciih
/build-grub-gen-widthspec
/build-grub-mkfont
/config-util.h.in
/garbage-gen
/grub*-bios-setup
/grub*-bios-setup.8
/grub*-editenv
/grub*-editenv.1
/grub*-file
/grub*-file.1
/grub*-fs-tester
/grub*-fstest
/grub*-fstest.1
/grub*-get-kernel-settings
/grub*-get-kernel-settings.3
/grub*-glue-efi
/grub*-glue-efi.1
/grub*-install
/grub*-install.8
/grub*-kbdcomp
/grub*-kbdcomp.1
/grub*-macbless
/grub*-macbless.8
/grub*-menulst2cfg
/grub*-menulst2cfg.1
/grub*-mkconfig
/grub*-mkconfig.8
/grub*-mkconfig_lib
/grub*-mkfont
/grub*-mkfont.1
/grub*-mkimage
/grub*-mkimage.1
/grub*-mklayout
/grub*-mklayout.1
/grub*-mknetdir
/grub*-mknetdir.1
/grub*-mkpasswd-pbkdf2
/grub*-mkpasswd-pbkdf2.1
/grub*-mkrelpath
/grub*-mkrelpath.1
/grub*-mkrescue
/grub*-mkrescue.1
/grub*-mkstandalone
/grub*-mkstandalone.1
/grub*-ofpathname
/grub*-ofpathname.8
/grub*-probe
/grub*-probe.8
/grub*-reboot
/grub*-reboot.8
/grub*-render-label
/grub*-render-label.1
/grub*-rpm-sort
/grub*-rpm-sort.8
/grub*-script-check
/grub*-script-check.1
/grub*-set-bootflag
/grub*-set-bootflag.1
/grub*-set-default
/grub*-set-default.8
/grub*-set-password
/grub*-set-password.8
/grub*-shell
/grub*-shell-tester
/grub*-sparc64-setup
/grub*-sparc64-setup.8
/grub*-syslinux2cfg
/grub*-syslinux2cfg.1
/grub*-switch-to-blscfg
/grub*-switch-to-blscfg.8
/grub_fstest.pp
/grub_fstest_init.c
/grub_fstest_init.lst
/grub_script.tab.[ch]
/libgrub.pp
/libgrub_a_init.c
/libgrub_a_init.lst
/stamp-h.in
/test_asn1
/widthspec.h
