[Unit]
Description=Mark boot as successful after the user session has run 2 minutes
ConditionUser=!@system
ConditionPathExists=/usr/bin/pkexec

[Timer]
OnActiveSec=2min
