/alloca.h
/arg-nonnull.h
/c++defs.h
/charset.alias
/configmake.h
/getopt.h
/langinfo.h
/libgnu.a
/locale.h
/ref-add.sed
/ref-del.sed
/stdio.h
/stdlib.h
/string.h
/strings.h
/sys/
/unistd.h
/unitypes.h
/uniwidth.h
/warn-on-use.h
/wchar.h
/wctype.h
